<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jlbit.reconversionsoberana">

    <application>

        <activity
            android:name="com.jlbit.reconversionsoberana.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

    </application>

</manifest>